- issues = IssuesFinder.new(current_user, group_id: @group.id, state: 'opened').execute
- merge_requests = MergeRequestsFinder.new(current_user, group_id: @group.id, state: 'opened', non_archived: true).execute

- issues_sub_menu_items = ['groups#issues', 'labels#index', 'milestones#index']
- if @group.feature_available?(:group_issue_boards)
  - issues_sub_menu_items.push('boards#index', 'boards#show')

.nav-sidebar{ class: ("sidebar-icons-only" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to group_path(@group), title: @group.name do
        .avatar-container.s40.group-avatar
          = image_tag group_icon(@group), class: "avatar s40 avatar-tile"
        .sidebar-context-title
          = @group.name
    %ul.sidebar-top-level-items
      = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups', 'analytics#show'], html_options: { class: 'home' }) do
        = sidebar_link group_path(@group), title: _('Group overview') do
          .nav-icon-container
            = custom_icon('project')
          %span.nav-item-name
            Overview

        %ul.sidebar-sub-level-items
          = nav_link(path: ['groups#show', 'groups#activity', 'groups#subgroups'], html_options: { class: "fly-out-top-item" } ) do
            = link_to group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Overview') }
          %li.divider.fly-out-top-item
          = nav_link(path: ['groups#show', 'groups#subgroups'], html_options: { class: 'home' }) do
            = link_to group_path(@group), title: 'Group details' do
              %span
                Details

          = nav_link(path: 'groups#activity') do
            = link_to activity_group_path(@group), title: 'Activity' do
              %span
                Activity

          - if @group.feature_available?(:contribution_analytics) || show_promotions?
            = nav_link(path: 'analytics#show') do
              = link_to group_analytics_path(@group), title: 'Contribution Analytics', data: {placement: 'right'} do
                %span
                  Contribution Analytics

      = nav_link(path: issues_sub_menu_items) do
        = sidebar_link issues_group_path(@group), title: _('Issues') do
          .nav-icon-container
            = custom_icon('issues')
          %span.nav-item-name
            Issues
          %span.badge.count= number_with_delimiter(issues.count)

        %ul.sidebar-sub-level-items
          = nav_link(path: ['groups#issues', 'labels#index', 'milestones#index'], html_options: { class: "fly-out-top-item" } ) do
            = link_to issues_group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Issues') }
              %span.badge.count.issue_counter.fly-out-badge= number_with_delimiter(issues.count)
          %li.divider.fly-out-top-item
          = nav_link(path: 'groups#issues', html_options: { class: 'home' }) do
            = link_to issues_group_path(@group), title: 'List' do
              %span
                List

          - if @group.feature_available?(:group_issue_boards)
            = nav_link(path: ['boards#index', 'boards#show']) do
              = link_to group_boards_path(@group), title: 'Boards' do
                %span
                  Boards

          = nav_link(path: 'labels#index') do
            = link_to group_labels_path(@group), title: 'Labels' do
              %span
                Labels

          = nav_link(path: 'milestones#index') do
            = link_to group_milestones_path(@group), title: 'Milestones' do
              %span
                Milestones

      = nav_link(path: 'groups#merge_requests') do
        = sidebar_link merge_requests_group_path(@group), title: _('Merge Requests') do
          .nav-icon-container
            = custom_icon('mr_bold')
          %span.nav-item-name
            Merge Requests
          %span.badge.count= number_with_delimiter(merge_requests.count)
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'groups#merge_requests', html_options: { class: "fly-out-top-item" } ) do
            = link_to merge_requests_group_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Merge Requests') }
              %span.badge.count.merge_counter.js-merge-counter.fly-out-badge= number_with_delimiter(merge_requests.count)
      = nav_link(path: 'group_members#index') do
        = sidebar_link group_group_members_path(@group), title: _('Members') do
          .nav-icon-container
            = custom_icon('members')
          %span.nav-item-name
            Members
        %ul.sidebar-sub-level-items.is-fly-out-only
          = nav_link(path: 'group_members#index', html_options: { class: "fly-out-top-item" } ) do
            = link_to group_group_members_path(@group) do
              %strong.fly-out-top-item-name
                #{ _('Members') }
      - if current_user && can?(current_user, :admin_group, @group)
        = nav_link(path: %w[groups#projects groups#edit ci_cd#show ldap_group_links#index hooks#index audit_events#index pipeline_quota#index]) do
          = sidebar_link edit_group_path(@group), title: _('Settings') do
            .nav-icon-container
              = custom_icon('settings')
            %span.nav-item-name
              Settings
          %ul.sidebar-sub-level-items
            = nav_link(path: %w[groups#projects groups#edit ci_cd#show], html_options: { class: "fly-out-top-item" } ) do
              = link_to edit_group_path(@group) do
                %strong.fly-out-top-item-name
                  #{ _('Settings') }
            %li.divider.fly-out-top-item
            = nav_link(path: 'groups#edit') do
              = link_to edit_group_path(@group), title: 'General' do
                %span
                  General

            = nav_link(path: 'groups#projects') do
              = link_to projects_group_path(@group), title: 'Projects' do
                %span
                  Projects

            = nav_link(controller: :ci_cd) do
              = link_to group_settings_ci_cd_path(@group), title: 'CI / CD' do
                %span
                  CI / CD

            = render "groups/ee/settings_nav"

    = render 'shared/sidebar_toggle_button'
